/* Style de base pour le corps de la page */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* Style de l'en-tête */
header {
  background-color: #343a40;
  color: white;
  padding: 1em;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* Style de la barre de navigation */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Style du contenu principal */
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Style des titres */
h2, h3 {
  text-align: center;
  color: #343a40;
}

/* Style des formulaires */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label {
  margin-top: 10px;
}

form input, form button, form select {
  margin-top: 5px;
  padding: 10px;
  font-size: 1em;
}

form button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

form button:hover {
  background-color: #218838;
}

/* Style des tables */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

.styled-table thead tr {
  background-color: #343a40;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #343a40;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#submitButton {
  background-color: #28a745;
}

#submitButton:hover {
  background-color: #218838;
}

/* Responsive styles */
@media (max-width: 1440px) {
  main {
    max-width: 1200px;
  }
}

@media (max-width: 1024px) {
  main {
    max-width: 900px;
  }
}

@media (max-width: 992px) {
  main {
    max-width: 850px;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  main {
    max-width: 700px;
  }
}

@media (max-width: 552px) {
  main {
    max-width: 500px;
    padding: 10px;
  }

  form input, form button, form select {
    font-size: 0.9em;
  }

  .styled-table th, .styled-table td {
    padding: 8px 10px;
    font-size: 0.9em;
  }
}

@media (max-width: 412px) {
  header {
    padding: 0.5em;
  }

  header h1 {
    font-size: 1.2em;
  }

  main {
    max-width: 380px;
    padding: 10px;
  }

  form input, form button, form select {
    font-size: 0.8em;
  }

  .styled-table th, .styled-table td {
    padding: 6px 8px;
    font-size: 0.8em;
  }
}

@media (max-width: 375px) {
  header {
    padding: 0.5em;
  }

  header h1 {
    font-size: 1em;
  }

  main {
    max-width: 340px;
    padding: 10px;
  }

  form input, form button, form select {
    font-size: 0.7em;
  }

  .styled-table th, .styled-table td {
    padding: 5px 6px;
    font-size: 0.7em;
  }
}




@media print{

  .no-print ,#no-print{
  
  display: none;
  
  
  
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    height: 70%;
    margin-top: 30%;
  }
  }